# Streamlit app
streamlit

# Environment variables
python-dotenv

# LangChain ecosystem
langchain
langchain-core
langchain-community
langchain-groq
langchain-huggingface
langchain-text-splitters

# If using HuggingFace or Groq LLMs
transformers
accelerate

# If using PDF input
PyPDF2

# Vectorstore
faiss-cpu

# Tokenizer
tiktoken
